.speech-bubble {
    position: relative;
    background: #4f5856;
    color: white;
    padding: 8px 10px;
    border-radius: 10px;
    max-width: 200px;
    font-size: 10px;
    margin-top: 20px;
    transform: translateX(-50%) translateY(20px); /* 아래쪽 시작 위치 */
    animation: fadeUp 1s ease-out forwards; /* 애니메이션 설정 */
}

@keyframes fadeUp {
    0% {
        transform: translateX(-50%) translateY(20px); /* 아래에서 시작 */
        opacity: 0;
    }
    100% {
        transform: translateX(-50%) translateY(0); /* 위로 이동 */
        opacity: 1;
    }
}


.speech-bubble::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 15px;
    border-width: 10px 10px 0 10px;
    border-style: solid;
    border-color: #4f5856 transparent transparent transparent;
}