.swiper-button-prev, .swiper-button-next{
    background-color: rgba(255, 255, 255, 0.8);
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.swiper-button-prev{
    margin-left: 20px;
}
.swiper-button-next{
    margin-right: 20px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 20px; /* Adjust arrow size */
    font-weight: 400; /* Adjust font weight if needed */
}

