/* style.module.css */
.container {
    margin-top: 60px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 30px;
    transition: transform 0.5s ease;
    transform: translateX(-2115px);
}

.wrapperClone {
    gap: 30px;
    margin-left: 30px;
}

.leftSwiper, .rightSwiper {
    position: absolute;
    top: 40%;
    cursor: pointer;
    z-index: 50;
}

.leftSwiper {
    left: 10px;
    transform: scaleX(-1);
}

.rightSwiper {
    right: 10px;
}


.swiperSlide {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 40px;
    box-shadow: 5px 5px 10px #a7a7a7;
    width: 500px; /* 슬라이드의 너비 */
    height: 400px;
}

.slide1 {
    background-color: #ffe1e1;
}

.slide2 {
    background-color: #f0ecff;
}

.slide3 {
    background-color: #dcf5ec;
}

.slide4 {
    background-color: #d9e8f1;
}
