.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}
.wrapper .inputBox{
    padding: 14px 30px;
    border: none;
    outline: none;
    box-shadow: 1px 1px 3px #a7a7a7;
    width: 35dvw;
}
.wrapper .searchBtn{
    background-color: #ff951a;
    color:white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border: none;
    box-shadow: 1px 1px 3px #a7a7a7;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    padding: 0 20px;
}
.wrapper .searchBtn .searchIcon{
    width: 18px;
}