.wrapper{
  display: flex;
  flex-direction: row;
  height: 60px;
  padding: 0 20px;
  justify-content: space-between;
  border-bottom: 2px solid #ff951a;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 100;
  align-items: center;
}
.left{
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.menuList{
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  align-items: center;
}